.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
  padding: calc(2vmin)
}

table {
  max-width: 500px;
}

tbody td {
  border: 1px solid black;
  width: 50%;
  text-align: center;
  padding: 10px;
}


.numberButton {
  border: 1px solid black;
  font-size: calc(3px + 2vmin);
  padding: 20px;
  cursor: pointer;
  background: rgb(176, 176, 176);
}

.starIcon {
  font-size: 1.5em;
  padding: 10px;
}

.gridCustom{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.timer{
  text-align: left !important;
}
